<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TemplateRenderSample50</title>
    <style>
        body { background: #F4F4F4; font-family: sans-serif; }
        article { background: white; padding: 1rem; margin: 1rem; }
        h1 { text-align: center; }
        h2 { margin-top: 0; }
        pre { background: #EEE; padding: .5rem; border: 1px solid #CCC; }
        code { background: #EEE; padding: .2rem .5rem; }
    </style>
</head>
<body>
    <header>
        <h1>Westerhoff.AspNetCore.TemplateRendering – Samples for ASP.NET Core 5.0</h1>
    </header>

    <main>
        @RenderBody()
    </main>
</body>
</html>
