@page
@model IndexModel
@{
    ViewData["Title"] = "Example template";
}

<article>
    <h2>Example.cshtml</h2>
    <p>Title: <code>@Model.ExampleTemplateTitle</code></p>
    <pre>@Model.ExampleTemplateBody</pre>
</article>
