@model TemplateRenderSample31.Templates.ExampleModel
@{
    ViewData["Title"] = $"Example for user {Model.UserId}";
}

<h1>Hello @Model.UserId</h1>
<p>This is an example template, rendered from ASP.NET Core 3.1.</p>
